body,html,form,p,blockquote,fieldset,input,ul { margin:0; padding:0 }

body {
    font-family: "Microsoft Yahei", Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 2;
}

input,
button,
select,
textarea {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}
a {
    text-decoration: none;
}
h1, h2, h3, h4, h5, h6, p {
    font-family: inherit;
    font-size: inherit;
    margin:0;
    text-align: justify;

}

.container {
    min-width: 1200px;

}

.content{
    width: 60%;
    margin: 50px auto 30px;

}

.content header {
    background-color: #F5F5F5;
    height: 50px;
    width: 100%;
}
.content button {
    float: right;
    background-color: #F5F5F5;
    border: 1px solid #B7B7B7;
    border-radius: 9px;
    width: 60px;
    margin: 5px;
}
.content button:hover{
    background-color: #fff;

}

article {
    padding:20px;
    height: 350px;
    overflow: scroll;
}
article p {
    text-indent:25px;
}

.intro {
    font-size: 16px;
    font-weight: bold;
}
.fillin {
    display: inline-block;
    text-indent: 0;
    height: 23px;
    min-width: 70px;
    text-align: center;
    padding: 0 10px;
    color: #3295FF;
    font-size: 16px;
    border-bottom: 1px solid #000;
}
span.fillin.selected {
    background-color: #6598af;
    border-radius: 10px 10px 0 0;
}
.tab {
    width: 60%;
    margin:0 auto;
}
.tab ul{
    display: block;
    margin: 0 25%;
}

.tab ul li{
    display: inline-block;
    background: #EAEAEA;
    color: #888786;
    height: 30px;
    width: 30px;
    text-align: center;
    border-radius: 7px;
}

.tab .select {
    background-color: #5f9ea0;
    color: #ffffff;
}

.triangle {
    display: block;
    margin:4px 10px;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 7px solid #6598af;
    width:0;
    height:0;
}

.selection {
    width: 60%;
    margin: 20px auto;
    font-size: 14px;
}
.selection table th,td {
    color: #3C3C3C;
    border: 1px solid #B9B9B9;
    font-weight: bold;
    margin: 0;
    padding: 5px;

}
.selection th:hover {
    color: #87cefa;

}
.report {
    width: 100%;
    top: 0;
    position: absolute;
    display: none;
}

.report-wrap {
    position: absolute;
    top: 0;
    width: 100%;
    background:#000;
    z-index:998;
    left:0;
    height:1000px;
    opacity:0.6;

}

.report-cont {
    position: relative;
    top: 0;
    background: #fff;
    margin:50px auto;
    width: 800px;
    opacity: 1;
    z-index: 2000;
}

.report-cont h1 {
    font-size: 23px;
    text-align: center;
    padding: 10px;
    border-bottom: 1px solid #E0D7D7;
}

#accuracy {
    font-size: 40px;
    display: block;
    color: #7DC4CC;
}

.accuracy {
    width: 70px;
    margin: 0 auto;
}


.report-cont ul {
    display: block;
    width: 70%;
    margin: 0 auto;
}

.report-cont li {
    display: inline-block;
    width: 60px;
    height: 60px;
    text-align: center;
    border-radius: 100%;
    font-size: 30px;
    margin: 20px;
    border: 2px solid #F3F3F3;
}
.btn-set {
    width: 100%;
    margin: 40px 0;
    border-top: 1px solid #E0D7D7;
}
.btn-set a {
    position: relative;
    display: inline-block;
    margin: 14px 8px;
    color: #9FE0BA;
    text-decoration: none;
    text-align: center;
    font-size: 19px;
    font-weight: bold;
    width: 46%;
    height: 40px;
    border: 2px solid;
    border-radius: 34px;
    background-color: transparent;
}

.explain {
    width: 60%;
    margin: 0 auto;
}
.explain section{
    display: none;
}

.tab .tab-wrong {
    background:#dc143c;
    color: #ffffff;
}

.tab .tab-correct {
    background:#47CE65;
    color: #ffffff;
}

.correct{
    color: #47CE65 !important;
}
.wrong {
    color: #dc143c !important;
}
.vacant {
    background-color:#EAEAEA;
    text-decoration: line-through;
    border-radius: 10px 10px 0 0;
    color:#dc143c !important;;
}
.show-right {
    display: inline-block;
    background: #7DC59B;
    text-indent: 0;
    height: 27px;
    min-width: 70px;
    text-align: center;
    margin: 0 2px;
    padding: 0 10px;
    color: #FFFFFF;
    font-size: 16px;
}
