body,html,form,p,blockquote,fieldset,input { margin:0; padding:0 }

body {
    font-family: "Microsoft Yahei", Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    color: #333;
    background-color: #f3f3f3;
}

input,
button,
select,
textarea {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}
a {
    text-decoration: none;
}
h1, h2, h3, h4, h5, h6, p {
    font-family: inherit;
    font-size: inherit;
    margin:0;
}

/************top bar*************/
.topbar {
    width: 100%;
    position: relative;
}

.topbar-wrap {
    min-width: 1000px;
    height: 76px;
    background: url("../img/nav-bg.png") repeat-x;
}
.topbar-left {
    float: left;
    width: 400px;
    height: 100%;
}

.topbar-left .logo {
    display: inline;
    position: relative;
}


.topbar-right {
    float: right;
    width: 400px;
    height: 100%;
}

#search {
    width: 270px;
    display: inline-block;
    height: 100%;
}
#search #s_ipt {
	position: relative;
	display: inline-block;
	vertical-align:top;
	top: 20px;
    height: 25px;
    width: 200px;
    border-radius: 4px;
    border: 3px #F7F7F7 solid;

}
#search .s_btn {
    position: relative;
    background: url("../img/title.png") 10px -267px no-repeat;
    top: 17px;
    width: 40px;
    height: 40px;
    border: none;
    cursor: pointer;
    opacity: 0.6;
    filter:Alpha(opacity=50);
}

#search .s_btn:hover {
    opacity: 1;
}
#loginbar {
    position: absolute;
    display: inline-block;
    top: 20px;
    width: 100px;
    height: 100%;
}
#loginbar a {
    text-decoration: none;
    display: inline;
    font-size: 19px;
    color: #fff;
    margin: 0 5px 0 0;
}
#loginbar a:hover {
    color: #4BFFF0;
}
#loginbar :first-child {
    border-right: 1px #fff solid;
    padding: 0px 8px 0 0;
}


/**************content start***************/
.content {
    width: 100%;
}

/***************above section************/
.above-info {
    min-width: 1000px;
    background-color: #FFFFFF;
    height: 100px;
    text-align: center;
    color: #000000;
    padding: 10px;
}
.above-content {
    min-width: 1000px;
    height: 400px;
    background-color: #000;
}
.above-title {
    color: #fff;
    margin: 70px 0 0 0;
    font-size: 46px;

}

.above-btn {
    position: relative;
    display: inline-block;
    top: 100px;
    color: #fff;
    text-decoration: none;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    padding: 10px;
    width: 200px;
    height: 40px;
    border: 2px solid;
    background-color: transparent;
}

.above-btn:hover{
    background-color: #FF6A10;
}

.above-left {
    width: 50%;
    height: 100%;
    float: left;
    text-align: center;
    background: url('../img/index-child.jpg') no-repeat;
    
}
.above-right {
    width: 50%;
    height: 100%;
    float: right;
    text-align: center;
    background: url('../img/index-adult.jpg') no-repeat;
}
/*****************detail section************/
.detail {
    width: 100%;
}

.dtl-sec {
    min-width: 1000px;
    padding: 20px;
}

.dtl-sec-head {
    background-color:#58749C;
    padding: 10px;
}
.dtl-sec-head span {
    font-weight: bold;
    font-size: 20px;
    color: #fff;
    margin-left:20px;
}
.dtl-sec-cont {
    background-color: #fff;
    padding: 20px;
}
.dtl-sec-cont a{
    color: #000;
}
.dtl-sec-cont a:hover{
    color: #827676;
}
.dtl-sec-cont td {
    width: 30%;
}


/*************footer***********/
.footer {
    width: 100%;
    height: 100px;
    background-color: #383838;
}
