body,html,form,p,blockquote,fieldset,input,ul { margin:0; padding:0 }

body {
    font-family: "Microsoft Yahei", Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    color: #333;
    background-color: #f3f3f3;
    background-image: url(../img/pattern.png);
}

input,
button,
select,
textarea {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}
a {
    text-decoration: none;
}
ul {
    list-style-type: none;

}
h1, h2, h3, h4, h5, h6, p {
    font-family: inherit;
    font-size: inherit;
    margin:0;
}

/************top bar*************/
.topbar {
    width: 100%;
    position: relative;
}

.topbar-wrap {
    height: 76px;
    background: url("../img/nav-bg.png") repeat-x;
}
.topbar-left {
    float: left;
    width: 40%;
    height: 100%;
}

.topbar-left .logo {
    display: inline;
    position: relative;
}


.topbar-right {
    float: right;
    width: 10%;
    height: 100%;
}

#loginbar {
    display: none;
    position: absolute;
    display: inline-block;
    top: 20px;
    width: 100px;
    height: 100%;
}
#loginbar a {
    text-decoration: none;
    display: inline;
    font-size: 19px;
    color: #fff;
    margin: 0 5px 0 0;
}
#loginbar a:hover {
    color: #4BFFF0;
}

#loginbar :first-child {
    border-right: 1px #fff solid;
    padding: 0px 8px 0 0;
}

#welcome {
    display: none;
    margin-top: 15px;
}
#welcome a {
    font-size: 22px;
    color: #ffffff;
    margin: 20px 0;
}




/**************content start***************/
.content {
    width: 100%;
}

/***************above section************/
.above-info {
    width: 100%;
    background-color: #FFFFFF;
    height: 100px;
    text-align: center;
    color: #000000;
    padding: 10px 0;
}
.above-content {
    width: 100%;
    height: 400px;
    background-color: #000;
}
.above-title {
    color: #fff;
    margin: 70px 0 0 0;
    font-size: 46px;

}

.above-btn {
    position: relative;
    display: inline-block;
    top: 100px;
    color: #fff;
    text-decoration: none;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    padding: 10px;
    width: 30%;
    height: 40px;
    border: 2px solid;
    background-color: transparent;
}

.above-btn:hover{
    background-color: #FF6A10;
}

.above-left {
    width: 50%;
    height: 100%;
    float: left;
    text-align: center;
    background: url('../img/index-child.jpg');
    background-size: cover;
    
}
.above-right {
    width: 50%;
    height: 100%;
    float: right;
    text-align: center;
    background: url('../img/index-adult.jpg');
    background-size: cover;
}
/*****************detail section************/
.detail {
    width: 100%;
}

.dtl-sec {
    width: 98%;
    padding: 20px;
}

.dtl-sec-head {
    background-color:#58749C;
    padding: 10px;
}
.dtl-sec-head span {
    font-weight: bold;
    font-size: 20px;
    color: #fff;
    margin-left:20px;
}

.dtl-sec-cont {
    background-color: #fff;
    overflow: hidden;

}

#child .dtl-content-hide{
    width: 98%;
}
.dtl-menu {
    background: #F1F1F1;
    float: left;
    text-decoration: none;
    width: 27%;
 }
.abbr {
    display: none;
}

.dtl-menu ul {
    margin: 10px;
}
.dtl-menu li {
    list-style: none;
    text-align: center;
    font-size: 17px;
    background-color: #58749c;
    height: 32px;
    padding: 3px;
    border: 1px solid #8793A2;
    border-radius: 3px;
    color: #FFF;
}

#dtl-menu-selected {
    background-color: #778496;
    color: #FFD600;
    width: 101%;
}
.dtl-content-hide {
    float: left;
    background-color: #ffffff;
    margin: 10px;
    width: 70%;
}
.dtl-content-hide a{
    color: #000;
}
.dtl-content-hide a:hover{
    color: #827676;
}

.dtl-content-hide table,tbody,tr {
    width: 100%;
    background-color: #fff;
}
.dtl-content-hide table td {
    width: 30%;
    height: 40px;
}



.userControl{
    display: none;
    position: absolute;
    width: 100%;
    top: 0;
}
#regist,
#login{
    display: none;
    height: 100%;
}
.cover {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1999;
    background: #000000;
    opacity: 0.5;
}

.user-wrap {
    position: relative;
    margin: 50px auto;
    width: 600px;
    background: #fff;
    z-index: 2000;
}

.close{
    float: right;
    border: 0;
    background: inherit;
    font-size: 20px;
    color: #969696;
}
.close:hover {
    color: #000C13;
}
.user-wrap header {
    padding: 10px 20px;
    background-color: #f3f3f3;
}
.user-wrap h2 {
    font-size: 20px;
    padding: 5px;
    font-weight: bold;
}

form {
    width: 50%;
    font-size: 15px;
    margin: 50px auto;
    font-weight: bold;
}
input[type="submit"] {
    display: block;
    margin: 30px auto 0 100px;
    border-color: #007147;
    background-color: #008151;
    width: 80px;
    height: 34px;
    color: #ffffff;
    border: 1px solid;
    border-radius: 5px;

}

input[type="text"] {
    display: block;
    width: 230px;
    margin: 10px;
    height: 23px;
    padding: 6px 12px;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 3px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}
input[type="password"] {
    display: block;
    width: 230px;
    margin: 10px;
    height: 23px;
    padding: 6px 12px;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 3px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;


}
/************Responsive**********/
@media screen and (min-width: 960px){
    body {
        min-width: 1300px;

    }
    .userControl {
        min-width: 1300px;
    }
    .content {
        min-height: 400px;
    }
}

@media screen and (min-width: 600px) and (max-width: 960px){
    body {
        min-width: 780px;
    }
    .topbar-right {
        width: 53%;
    }
    .dtl-menu li {
        font-size: 15px;
        height: 42px;
    }
}

@media screen and (max-width: 600px){
	body {
		min-width: 340px;
	}
    #search {
        display: none;
    }
    .topbar-right {
        width: 35%;
    }
    .dtl-content-hide table, tbody, tr {
        width: 95%;
    }
    .dtl-menu {
        width: 100%;
    }
    .above-title {
        color: #fff;
        margin: 46px 0 0 0;
        font-size: 20px;
    }
    .above-content {
        width: 100%;
        height: 200px;
        background-color: #000;
    }
    .above-btn {
        top: 39px;
        padding: 2px;
        height: 22px;
        font-size: 10px;
    }
    .dtl-sec {
        padding: 4px;
    }
    .dtl-content-hide {
        width: 100%;
    }
    #dtl-menu-selected,
    .dtl-menu li{
        width: 20%;
        display: inline-block;
    }

    .abbr{
        display: inline;
    }

    .full {
        display: none;
    }
}