.user-container {
    width: 1200px;
    height: 500px;
    margin: 0 auto;
}

.user-info-sec {
    width: 30%;
    height: 100%;
    float: left;
    background-color: #ffffff;

}
.user-container h2 {
    border-radius: 5px 5px 0 0;
    font-size: 20px;
    text-align: center;
    padding: 10px;
    background: #F7F5F5;;
}
.info-list ul{
    margin-top: 10px;
}

.info-list li {
    height: 40px;
    padding: 5px 0 0 0;
    font-size: 15px;
    text-indent: 10px;
    width: 80%;
    margin: 0 auto;
    border-bottom: 1px solid #DCDCDC;
}

.user-history {
    width: 70%;
    height: 100%;
    float: left;
    background-color: rgb(245, 255, 215);
}
.user-history li {
    height: 50px;
    text-align: center;
    padding: 0px 0 0 0;
    font-size: 17px;
    background: #FEFFC5;
    border-radius: 15px;
    border-bottom: 1px solid #CACE12;

    -webkit-box-shadow:0 0 7px #DEC407;
    -moz-box-shadow:0 0 7px #DEC407;
    box-shadow: 0 0 7px #DEC407;
}
#itemContainer {
    height: 80%;
}
